.login-layout{width:330px;margin:0 auto 0;}
.logo-txt{text-align:center;font-size:30px;padding:50% 0 10% 0;}

.layui-btn-normal{background-color:#F6F6F6;border:1px solid #DFDFDF;color:#000000}
.layui-btn-normal:hover {color:#000000}
.Sel{color:red}
.Sel:hover {color:red}
.Nol{color:#000000}
.Nol:hover {color:#000000}
.layui-btn-hui:hover{background:#B4B8C5}


.header{position:relative;}
.header .top{height:65px;}
.header .top .logo{position:absolute;left:20px;top:10px;font-size:30px;}
.header .tool{float:right;margin-top:15px;}
.header .tool .item{float:left;margin-right:20px;}
.header .tool .user{margin-top:5px;}
.header .layui-nav-item{line-height:3;position:relative;}
.header .layui-nav-item a{padding:10px 10px;}}
.header .layui-nav-itemsub a{padding:10px 10px;}
.header .layui-nav-item small{display:block;}
.header .sub{line-height:1.5;display:none;position:absolute;top:62px;left:0;right:0;background-color:#393D49;z-index:100000;border-top:1px solid #ffffff}
.header .layui-nav-item:hover .sub{display:block;}

.son-page{position:relative;margin:10px 20px 50px 20px;}
.son-page .page-wp{position:fixed;bottom:0px;height:50px;overflow:hidden;right:10px;left:10px;background-color:#fff;}

/*重定义*/
.layui-body{top:65px;left:0;}
table em{font-style:normal;}
table thead{background:#f5f5f5}
table thead.center th{text-align:center;}
table .spt_em em{margin:0 5px;}
td[valign="middle"],.middle td{vertical-align:middle !important;}
table .layui-form-radio,table .layui-form-item{padding:0 !important;margin:0 !important;}
.layui-textarea.h30{height:36px;min-height:36px;}
.ng-cloak{display:none;}
.layui-anim{position:relative;}
.layui-form-radio .layui-icon:after{position:absolute;left:0;right:0;top:0;bottom:0;}
.layui-form-radio input:checked+.layui-icon:after{content:'\e643';color: #5FB878;}
.layui-breadcrumb a{cursor:pointer;}
.layui-breadcrumb a.on{color:#FF5722!important;font-weight:bold;}
a.layui-btn:hover{text-decoration:none;}
.layui-laypage a.on{background:#1E9FFF;color:#fff;}
.layui-laypage-btn{background:#1b6398 !important;color:#fff;}
.layui-form select{display:block;}
.layui-form-ck{display:block;}
.layui-form-ck input:checked+.layui-form-checkbox{border:1px solid #5FB878;}
.layui-form-ck input:checked+.layui-form-checkbox span{background-color: #5FB878;}
.layui-form-ck input:checked+.layui-form-checkbox i{color: #5FB878;}
.layui-form-ck-small input:checked+.layui-form-checkbox-small{border:1px solid #5FB878;}
.layui-form-ck-small input:checked+.layui-form-checkbox-small span{background-color: #5FB878;}
.layui-form-ck-small input:checked+.layui-form-checkbox-small i{color: #5FB878;}
/*重定义-end*/

/*弹窗*/
.boxmsg{z-index:1000;}
.boxmsg .bg{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.6);z-index:1000;}
.boxmsg .wp{background-color:#fff;position:fixed;top:20%;left:50%;width:600px;padding-bottom:50px;margin:0 0 0 -300px;z-index:1000;border:1px solid #ddd;text-align:center;}
.boxmsg .button-wp{position:absolute;bottom:0;left:0;right:0;text-align:right;padding:10px;background:#f7e7e7;}
/*弹窗-end*/

/*任务指派*/
.work-item{}
.work-item .layui-btn{position:relative;}
.work-item .layui-btn .layui-icon{display:none;}
.work-item .layui-btn:hover .layui-icon{display:inline-block;}
/*任务指派-end*/

/*filter*/
.filter{position:fixed;top:0;bottom:0;left:0;right:0;z-index:9999;background-color:rgba(0,0,0,.6);}
.filter .wp{position:absolute;width:600px;height:350px;left:50%;top:50%;margin:-200px 0 0 -350px;background-color:#fff;}
.filter .table-wp{overflow-y:scroll;height:290px;}
.filter .button-add{position:absolute;bottom:0;left:0;width:100%;}
.filter .button-add .table{margin:0;}
.filter .button-add .layui-btn{width:100%;}
.filter .blk{position:absolute;top:-45px;height:45px;left:0;right:0;background-color:#fff5f5;padding:0px 7px;}
.filter .blk .title{float:left;height:40px;line-height:40px;}
.filter .blk .layui-btn{float:right;margin-top:5px;}

.over {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    opacity:0.3;
    z-index: 10000;
}

.layout {
    display: block;
    position: fixed;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 20%;
    z-index: 10001;
    text-align:center;
}