<!DOCTYPE html>
<html ng-app="rokid_app">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Rokid</title>
<link rel="stylesheet" href="css/layui.css">
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/common.css">
</head>
<body>
<!--语音标注-->

<div class="son-page" ng-controller="rokid_question">
<form class="layui-form layui-form-pane">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th ng-show="admin">标注者</th>
				<th>聊天语句</th>
				<th>话题</th>
				<th>指派</th>
				<th ng-show="false">操作</th>
			</tr>
		</thead>
		<tbody class="middle">
			<tr class="ng-cloak" ng-repeat="row in list">
				<td ng-show="admin">{{row.updName}}</td>
				<td>{{row.topic}}</td>
				<td>
					<button class="layui-btn layui-btn-normal" ng-click="filter.show(row)" style="margin-left:0px;width:30%;float:left">话题选择</button>
					<input type="text" ng-model="row.chatName" readonly class="layui-input" style="width:70%;float:left">
				</td>
				<td>
					<select class="layui-input" ng-model="row.assignId" ng-change="chgAssign(row)">
						<option ng-repeat="opt in assignList" value="{{opt}}" ng-selected="row.assignId==opt">{{opt}}</option>
					</select>
				</td>
				<td ng-show="false">
					<button class="layui-btn layui-btn-normal" ng-click="save(row)">保存</button>
				</td>
			</tr>
		</tbody>
	</table>
	<span ng-show="list.length==0">
		没有数据!
	</span>
	<!--分页-->
	<div id="page-wp" class="page-wp" ng-show="admin">
		<div class="layui-box layui-laypage layui-laypage-default">
			<a href="javascript:;" class="layui-laypage-prev" ng-click="page.go('prev')">上一页</a>			
			<a href="#" ng-repeat="row in page.pagination" ng-class="{'on':page.current==row.page}" ng-click="page.go(row.page)">{{row.text}}</a>			
			<a href="javascript:;" class="layui-laypage-next" ng-click="page.go('next')">下一页</a>
			<span class="layui-laypage-total">　 <input type="number" ng-model="page.current" class="layui-laypage-skip"><button type="button" class="layui-laypage-btn" ng-click="page.go(page.current)">确定</button></span>
		</div>
	</div>
	<div id="page-wp" class="page-wp" ng-show="!admin">
		<button class="layui-btn layui-btn-normal" ng-click="getWork=true;page.go(1)">获取标注数据</button>
	</div>
	<!--分页-end-->
</form>
	<!--filter-->
	<div class="filter" ng-show="filter.inflg" style='display:none' id="filter">
		<div class="wp">
			<div class="blk" style="background:#D6D8DE;">
				<h3 class="title">话题选择</h3>
				<i class="layui-icon"  ng-click="filter.close()" style="float:right;font-size:20px;margin-top:10px;">&#x1006;</i>
			</div>
			<div class="table-wp">
				<table class="table table-striped">
					<thead>
						<tr style="background:#fdfdfd;">
							<th width=60></th>
							<th><input type="text" ng-model="key.topic" placeholder="话题关键字" class="layui-input" style="height:30px;width:400px;float:left;"></th>
							<th width=40><button ng-click="filter.list(key)" class="layui-btn layui-btn-small layui-btn-normal" style="float:left;">查询</button></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in filter.data">
							<td>{{row.fScore}}</td>
							<td>{{row.strSent}}</td>
							<td>
								<button ng-click="filter.edit(row)" class="layui-btn layui-btn-small layui-btn-danger">选择</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="button-add">
				<table class="table">
					<tbody>
						<tr ng-show="add.show==false" >
							<td><button ng-click="add.show=true" class="layui-btn layui-btn-normal">新建话题</button></td>
						</tr>
						<tr ng-show="add.show">
							<td>
								<input type="text" ng-model="add.info.name" placeholder="话题" class="layui-input">
							</td>
							<td><button ng-click="add.save()" class="layui-btn layui-btn-normal">保存</button></td>
							<td><button ng-click="add.show=false" class="layui-btn layui-btn-normal">取消</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="rokid/modules/rokid_question.js"></script>
</body>
</html>