<!DOCTYPE html>
<html ng-app="rokid_app">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Rokid</title>
<link rel="stylesheet" href="css/layui.css">
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/modules/laydate/laydate.css">
<script type="text/javascript" src="js/laydate.js"></script>
</head>
<body ng-controller="rokid_nlp">
<div class="header" style="margin-bottom:15px;margin-top:0px;float:left;width:100%;z-index:10000;">
	<div class="top" style="background:#393D49;color:white;width:100%;">
		<!--导航-->
		<h1 class="logo" style="float:left">ROKID NLP标注  </h1> 
		<div class="tool" style="float:right;">
			<div class="item user ng-binding">用户名:<span id=user></span></div>
			<div class="item"><button class="layui-btn layui-btn-small layui-btn-danger" ng-click="logout();">退出</button></div>
			<div class="layui-clear"></div>
		</div>
	</div>
</div><br>

<div class="mleft" style="padding-left:10px;">
	<div class="menu" onclick="location.href='./main.html'">
		NLP标注
	</div>
	<div class="menu box-shadow-1" onclick="location.href='./error.html'">
		标注错误<br>
		NLP查询
	</div>
	<div class="menu" onclick="location.href='./success.html'">
		处理完成<br>
		NLP查询
	</div>
	<div class="menu" onclick="location.href='./count.html'">
		统计界面
	</div>
	<div ng-show="isadm" class="menu" onclick="location.href='./user.html'">
		用户管理
	</div>
	<div ng-show="isadm" class="menu" onclick="location.href='./config.html'">
		配置管理
	</div>
</div>

<!--语音标注-->
<div class="mright son-page">
	<table class="table table-bordered">
		<thead>
			<tr class="key" >
				<th width="150">
					<input class="layui-input-top" placeholder="关键字" type="text" style='width:140px;' ng-model="key.asr">
				</th>
				<th width="245" class="key" >
					<select name="selectObj" ng-model="key.domain" class="layui-input-top ng-pristine ng-valid ng-touched" ng-change="selectDoamin(key,'key')" style="width:240px;" placeholder="domain">
						<option></option>
						<option ng-repeat="opt in domainList" value="{{opt.domain}}">{{opt.domain}}</option>
					</select>
				</th>
				<th width="165" class="key" >
					<select name="selectObj" ng-model="key.intent" class="layui-input-top ng-pristine ng-valid ng-touched" ng-change="selectIntent(key,'key')" placeholder="intent" style="width:160px;">
						<option></option>
						<option ng-repeat="opt in key.intentList" value="{{opt.value}}">{{opt.intent}}</option>
					</select>
				</th>
				<th width="160" class="key" >
					<select ng-model="key.slot" class="layui-input-top ng-pristine ng-valid ng-touched">
						<option value=0 selected></option>
						<option value=2 >有说明</option>
						<option value=1>无说明</option>
					</select>
				</th>
				<th style="text-align:left;"><span style="display:none">{{key.type=1}}</span>　
					<a class="layui-btn layui-btn-small layui-btn-normal" ng-click="search();">
					　查 询　
					</a>
				</th>
			</tr>
			<tr>
				<th>
					语句
				</th>
				<th>
					domain
				</th>
				<th>
					intent
				</th>
				<th>
					slot
				</th>
				<th style="text-align:left;">　
					<a class="layui-btn layui-btn-small layui-btn-danger" ng-click="updates()">
					　保 存　
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in list" ng-show="list" id="{{row.id}}">
				<td style="vertical-align:middle;">
					<audio ng-src="{{sce(path + row.path)}}" style="width:98%;" controls></audio><br>
					<input style="width:150px;height:23px;"type=text readonly ng-model="row.asr">
				</td>
				<td>
					{{row.domain}}&nbsp;
					<hr style="height:0px;border:none;border-top:1px dashed #ffffff;margin:6px 0px;" >
					{{row.newDomain}}&nbsp;
				</td>
				<td>
					{{row.intent}}&nbsp;
					<hr style="height:0px;border:none;border-top:1px dashed #ffffff;margin:6px 0px;" >
					{{row.newIntent}}&nbsp;
				</td>
				<td>
					{{row.slot}}&nbsp;
					<hr style="height:0px;border:none;border-top:1px dashed #ffffff;margin:6px 0px;" >
					{{row.newSlot}}&nbsp;
				</td>
				<td style="text-align:left;vertical-align:middle;">
					<input type=checkbox ng-model="row.toBz" id="bz" ng-click="checkboxchg(row, $event.target)">重编辑　
					<input type=checkbox ng-model="row.toOk" id="ok" ng-click="checkboxchg(row, $event.target)">已处理
				</td>
			</tr>
		</tbody>
	</table>
	<span ng-show="list.length==0">
		
	</span>
	<!--分页-->
	<div id="page-wp" class="page-wp">
		<div class="layui-box layui-laypage layui-laypage-default">
			<a href="javascript:;" class="layui-laypage-prev" ng-click="page.go('prev')">上一页</a>			
			<a href="#" ng-repeat="row in page.pagination" ng-class="{'on':page.current==row.page}" ng-click="page.go(row.page)">{{row.text}}</a>			
			<a href="javascript:;" class="layui-laypage-next" ng-click="page.go('next')">下一页</a>
			<span class="layui-laypage-total">　<input type="number" ng-model="page.current" class="layui-laypage-skip"><button type="button" class="layui-laypage-btn" ng-click="page.go(page.current)">确定</button></span>
		</div>
	</div>
	<!--分页-end-->
</div>

<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/rokid_main.js"></script>
<link type="text/css" href="css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="js/select2.full.js"></script>
</body>
</html>